/* burger-menu.css */
.burger-menu {
  position: absolute;
  top: 2vh;
  right: 2vw;
  width: 6vw;
  height: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 5;
}

.burger-menu .line {
  width: 100%;
  height: 1vh;
  background-color: var(--the-sands);
  border-radius: 0.5vw;
  transition: all 0.3s ease; /* Smooth transition for transformation */
}

/* Transforming lines into X when the menu is active */
.burger-menu.active .line:nth-child(1) {
  transform: rotate(45deg) translate(1vh, 1vh); /* Top line rotates */
}

.burger-menu.active .line:nth-child(2) {
  opacity: 0; /* Middle line disappears */
}

.burger-menu.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(1vh, -1vh); /* Bottom line rotates */
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 25vw;
  height: 100vh;
  background-color: var(--tarp-blue);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 4;
  padding-top: 5vh;
}

.menu.active {
  transform: translateX(0);
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
  padding-left: 2vw;
}

.menu ul li {
  margin-bottom: 3vh;
  font-size: 3vh;
}

.menu ul li a {
  color: var(--white);
  text-decoration: none;
  transition: color 0.3s;
}

.menu ul li a:hover {
  color: var(--sky-blue);
}
