:root {
  --tarp-blue: #2f386c; /* Primary Color */
  --sky-blue: #88bee3;  /* Secondary Color */
  --the-sands: #d8cc9f; /* Tertiary Color */
  --light-raspberry: #e94471; /* Accent Color */
  --white: #ffffff; /* Primary Background Color */
  --font-heading: 'Nexa Bold', sans-serif;
  --font-body: 'Nexa Slap Book', sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: var(--font-body);
  background-color: var(--white);
  overflow: hidden;
}

.background {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Carousel Styling */
.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.carousel.tower {
  height: 25%;
  bottom: 0;
}

.carousel-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background-size: cover;
  background-position: center;
}

.carousel-slide.active {
  opacity: 1;
}

.carousel img {
  width: 100%;
  height: auto;
}

.carousel-caption {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  color: var(--white);
  font-size: 4vh;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2vh 4vw;
  border-radius: 1vw;
}

/* Carousel Dots */
.carousel-controls {
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.carousel-dot {
  height: 3vh;
  width: 3vh;
  background-color: var(--the-sands);
  border-radius: 50%;
  margin: 0 1vw;
  cursor: pointer;
}

.carousel-dot:hover {
  background-color: var(--light-raspberry); /* Accent color on hover */
}

/* Close Icon */
.close-icon img {
  width: 5vh;
  height: 5vh;
  cursor: pointer;
}


/* Burger Menu - Use common burger menu styles from burger-menu.css */

/* Logo Visibility */
.logo {
  position: absolute;
  bottom: 2vh;
  right: 2vw;
  width: 20vw;
  height: auto;
  /* background-color: rgb(221 211 211 / 79%); */
  padding: 1vh;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 15;
}


.side-logo-container {
  position: absolute;
  bottom: 2vh;
  left: 2vw;
  display: flex;
  flex-direction: row; /* Horizontal alignment */
  justify-content: flex-start;
  padding: 1vh; /* Padding to move logos slightly away from the edge */
  /* background-color: rgba(221, 211, 211, 0.79); */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 15;
}

.side-logo {
  margin-right: 1vw; /* Horizontal space between each logo */
  width: 6vw; /* Adjust the size to fit large screens */
  height: auto;
}

/* Fullscreen Icons */
.fullscreen-icons {
  position: absolute;
  top: 2vh;
  left: 2vw;
  z-index: 10;
}

.fullscreen-icons img {
  width: 5vh;
  height: 5vh;
  cursor: pointer;
  margin: 1vh;
}

/* Styling for Fullscreen Toggle */
.fullscreen-enter {
  display: block;
}

.fullscreen-exit {
  display: none;
}

/* Fullscreen Active State */
.fullscreen-active .fullscreen-enter {
  display: none;
}

.fullscreen-active .fullscreen-exit {
  display: block;
}
